<section>
<h1>Post A Review </h1>
<%= form_with(model: [@movie, @review], local: true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>

          <%= f.label :stars %>
        <%= f.select :stars, Review::STARS, prompt: "Pick one" %>
        
        <%= f.label :comment, rows: 20 %>
        <%= f.text_area :comment, placeholder: "Add your review here" %>
        
        <%= f.submit "Post Review" %>
<% end %>
</section>